# Compiled class file
*.class

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Package Files #
*.jar
*.war

# IntelliJ
.idea
*.iml

# Folders
out/
build/
classes/

# Gradle
.gradle
build